.filterBox {
  display: flex;
  font-size: 14px;
  color: #666;
}
.filterBox div{
  display: inline-block;
  flex: 1;
}
.filterBox .filters {
  flex: 2;
  text-align: center;
}
.clearCompleted {
  text-align: right;
  cursor: pointer;
}
.filterBox .filters a {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  color: #666;
}
.filterBox .selectedState {
  border: 1px solid #ccc;
}
.filterBox .filters a + a {
  margin-left: 8px;
}